@use "../../styles/variables";

.sc__btn {
   border: none;
   outline: none !important;
   padding-left: .5rem;
   padding-right: .5rem;
   padding-top: .4rem;
   padding-bottom: .4rem;
   font-size: 12px;
}

.sc__btn_link {
   border: none !important;
   background-color: transparent;
}

.sc__btn_primary {
   border: 1px solid variables.$primary;
   background-color: variables.$primary;
   color: white;
}

.sc__btn_secondary {
   border: 1px solid variables.$secondary;
   background-color: variables.$secondary;
   color: white;
}